extends layout

block content
  .page-header.text-center
    h1=title
    p.lead welcome to the home page
    p.lead create html 5 forms with so much ease

    h1
      a(href='/auth/google', class="btn btn-lg btn-success") log in with google