btn-height = 36px

// mixin
active-state() 
  &:active,&:focus
    background: #ccc
disabled-state()
  &[disabled]
    color: #b0b0b0

/* flat button */
button, a.button
  background: none
  border: none
  border-radius: 2px
  height: btn-height
  font-size: 15px
  line-height: btn-height
  min-width: 88px
  outline: none
  padding-left: 12px
  padding-right: 12px
  text-align: center
  text-decoration: none
  text-transform: uppercase
  transition: all .3s ease-in
  
  &.block
    width:100%

  &:not([disabled])
    &:hover
      background: #DDD
    active-state()
  
  disabled-state()
  
  & ~ button, ~ a.button
    margin-right: 8px

  /* button raised */
  &.raised
    @extend a.button
    background: #E0E0E0
    box-shadow: 0 1px 3px rgba(0,0,0,.30)
    &:active
      box-shadow:0 2px 5px rgba(0,0,0,0.4)
    
/* icon */    
i
  border-radius: 18px
  line-height: btn-height!important
  opacity: .5
  text-align: center
  transition: all .3s ease-in
  width: 36px
  
  &:hover
    opacity: .9
  active-state()
  
  disabled-state()
  
.actions
  a
    @extend a.button
  


  