btn-height = 36px
padding = 8px
padding-small = 3px
icon-size = 6px


/* flat button */
button,.button
  background none
  border none
  border-radius 2px
  display inline-block
  height btn-height
  font-size 15px
  line-height 30px
  min-width 88px
  outline none
  padding padding-small padding * 2 padding-small padding * 2
  text-align center
  text-decoration none
  text-transform uppercase
  transition all .3s ease-in
  
  &--block
    width 100%

  &:hover
    background rgba(black, 12%)
   &:active,&:focus
      background rgba(#999, 40%)!important

  &[disabled]
    background none!important
    box-shadow none!important
    color rgba(black, 26%)!important
  
  & ~ button, ~ a.button
    margin-left padding //TODO: this incorrectly(?) has margin-right

  /* button raised */
  &--raised
    background #E0E0E0
    box-shadow 0 1px 3px rgba(0,0,0,.30)
    &:focus
      background rgba(black,12%)
    &:active
      box-shadow 0 2px 5px rgba(0,0,0,0.4)
    &[disabled]
      background rgba(black,12%)!important
      color rgba(black,26%)!important
    
/* icon */    
i
  border-radius icon-size * 3
  line-height btn-height!important
  opacity .5
  text-align center
  transition all .16s ease-in
  width icon-size * 6
  
  &:hover
    opacity: .9
  &:active,&:focus
    background rgba(#999, 40%)!important
  
  &[disabled]
    background rgba(black, 12%)!important
    color rgba(black, 26%)!important
  
  


  