/* page styles */

/* properties */
$card 
  @import 'card'
  
.page
  @extend $card .card
  -webkit-transition: all 5s ease
  transition: all .5s ease
  
  .title
    input
      font-size: 24px
      width: 100%

  &:hover
    //transform: scale(0)
      
  input
    &[name=name]
      border-bottom: 1px solid
      font-size: 22px
      width: 100%
      max-width: 600px
      & ~ label
        font-size: 22px
  
  .question-list
    background grey
    box-shadow inset 0 2px 8px rgba(black, 30%)
    .question
      background white
      &:active
        box-shadow: 0 2px 7px rgba(0,0,0,0.5)      

  .answer-list
    margin-top: 10px
    margin-left: 22px
    margin-right: 22px
    transition: all .5 s ease-in
    
    div
      position: relative
      i
        display none
        position absolute
        right 0
        top -8px
    &:hover
      //border-bottom: 1px solid
      i
        display: block
        
.question
  padding: 16px
  &:hover
   box-shadow: 0 1px 5px rgba(0,0,0,0.3)      