.page
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)

.page-header
	position: fixed
	width:100%
	margin:0
	background: white
	left:0

	button
		margin-top:20px

.form
	padding-top: 6em