@import url(http://fonts.googleapis.com/css?family=Roboto);

html,body,.container,#jorder-react,#jorder-react > div
	height 100%

body
	background: #fafafa
	font-family RobotoDraft, Roboto, sans-serif
	
.page, #side-menu
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)

.fixed-header
	background white
	border-bottom 1px solid #eee
	left 0
	margin 0
	position fixed
	padding 0 8px 0 8px
	width 100%

	button, a
		margin-top:20px

.close-button:before
	content: 'X'

.form
	padding-top: 6em
	margin: 0 auto
	max-width: 800px

.icon
	font-size: 20px
	line-height: 30px
	height:30px
	width:30px
	color: grey
	&:hover,:active,:focus
		text-decoration:none
		color:black

.blue
	color: blue

.form-list .card
	margin: 4px

[contentEditable='true']
	outline: none

i
	cursor: pointer

@import "layout"
@import "button"
@import "card"
@import "input"
@import "side-menu"
@import "page"